/vue-trello/.DS_Store
/vue-trello/node_modules/
/vue-trello/dist/
/vue-trello/npm-debug.log*
/vue-trello/yarn-debug.log*
/vue-trello/yarn-error.log*

# Editor directories and files
/vue-trello/.idea
.vscode
/vue-trello/*.suo
/vue-trello/*.ntvs*
/vue-trello/*.njsproj
/vue-trello/*.sln
/VSCODE